<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= course.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

</div>
